<div class="flex-containers-container">
  <h1 class="highlight">So into the details...</h1>
  <h2 class="big-heading">About me</h2>
  <h3 class="small-heading">Who am I professionally:</h3>
  <div class="text-container">
    <div>
      <img class="profile-pic" src="../../assets/profile-picture.jpg" />
      <p class="picture-text body">
        As on the previous page, I'm a junior full stack developer at Barclays
        UK, but in my spare time I'm also building my own apps, websites and
        other tinkering projects. I'm familiar with a couple of JVM languages,
        Java and Kotlin, and a bunch of frameworks to go with them, such as
        Jest, Spring and Lombok. I'm also comfortable with Javascript and
        Typescript, having written apps and websites using both React and
        Angular, using NodeJS and Express for backends. I've also had
        expereience with PostgreSQL.<br /><br />Previously, I worked as a
        Mechanical Engineer, for eight years infact. I decided to make the
        career change after having dabbled with programming as a hobby, and
        feeling like I needed to make a change in my life after not finding
        fufilment in my old career. Tech has given me so much, I feel constant
        fufilment whilst working in this industry, and love every second of
        learning I do whilst tapping away at this keyboard (even if it is
        sometimes
        <a
          href="https://www.rei.com/blog/climb/fun-scale#:~:text=Type%20II%20Fun,usually%2C%20ice%20and%20alpine%20climbing."
          aria-lable="type 2 definition"
          target="_blank"
          >type 2</a
        >
        fun!).
      </p>
    </div>
    <p></p>
  </div>
</div>
