<div class="flex-containers-container">
  <h1 class="highlight">So onto the details...</h1>
  <h2 class="big-heading">About me</h2>
  <h3 class="small-heading">Who am I professionally:</h3>
  <div class="text-container">
    <div class="flex-containers-item">
      <p class="picture-text body">
        As on the previous page, I'm a junior full stack developer at Barclays
        UK, but in my spare time I'm also building my own apps, websites and
        other tinkering projects. I'm familiar with a couple of JVM languages,
        Java and Kotlin, and a bunch of frameworks to go with them, such as
        Jest, Spring and Lombok. I'm also comfortable with Javascript and
        Typescript, having written apps and websites using both React and
        Angular, using NodeJS and Express for backends. I've also had
        expereience with PostgreSQL.<br /><br />Previously, I worked as a
        Mechanical Engineer for eight years. I decided to make the career change
        after having dabbled with programming as a hobby, and feeling like I
        needed to make a change in my life after not finding fufilment in my old
        career. Tech has given me so much, I feel constant fufilment whilst
        working in this industry, and love every second of learning I do whilst
        tapping away at this keyboard (even if it is sometimes
        <a
          href="https://www.rei.com/blog/climb/fun-scale#:~:text=Type%20II%20Fun,usually%2C%20ice%20and%20alpine%20climbing."
          aria-lable="type 2 definition"
          target="_blank"
          >type 2</a
        >
        fun!).
      </p>
      <img class="profile-pic" src="../../assets/profile-picture.jpg" />
    </div>
    <p></p>
  </div>
  <h3 class="small-heading">Who am I personally:</h3>
  <div class="text-container">
    <p class="sports-text body">
      Put bluntly, I'm a huge nerd. I love playing video games, tabletop RPGs,
      and losing myself in books about the long dead religions of our worlds
      (celts, old norse etc.). I'm also interested in fitness, enjoying running
      swimming and cycling, and I'm training for my first Triathlon this
      September. To go with this, I practise the
      <a
        href="https://www.wimhofmethod.com/practice-the-method"
        aria-lable="wim hof definition"
        target="_blank"
      >
        Wim Hof method
      </a>
      , freezing myself in ice cold water on a weekly basis and perfoming
      breathwork exercises daily.
    </p>
    <div class="sports-pics-item">
      <div class="boogaloo">
        <img class="sports-pics" src="../../assets/harlech.jpg" />
        <p>My first relay triathlon!</p>
      </div>
      <div class="boogaloo">
        <img class="sports-pics" src="../../assets/degla-with-jen.jpg" />
        <p>Llandegla with Jen!</p>
      </div>
    </div>

    <p></p>
  </div>
</div>
