$background: #0a192f;
$big-heading: #ccd6f6;
$small-heading: #8892b0;
$body: #8892b0;
$highlight: #64ffda;

.list-container {
    width: 100vw;
    display: flex;
    flex-direction: row-reverse;
    margin: 0px 20px 0px 0px;
    padding: 0px;
    height: 50px;
    position: fixed;
    top: 0px;
    right: 0px;
    left: auto;
    background-color: $background;
}

.flex-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding-left: 10px;
    text-decoration: none;
}

p:hover {
    color: $highlight;
    transition: all 1s;
}

p {
    transition: all 1s;
}

